/* CSS classes for alignment */
.user-message-container {
  text-align: right; /* Align user messages to the right */
}

.bot-message-container {
  text-align: left; /* Align bot messages to the left */
}

.user-message {
  display: inline-block;
  padding: 8px;
  color: black;
}

.bot-message {
  display: inline-block;
  background-color: #d1d5db;
  color: black;
  padding: 8px 12px;
  border-radius: 15px;
}
