@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #181818; /* Dark background */
  --foreground: #f5f5f5; /* Dark text color */
}

@media (prefers-color-scheme: dark) {
  
  :root {
    --background: #181818;
    --foreground: #ededed;
    --aTextColor: rgb(194, 196, 199);
    --aBGHover: rgb(88, 112, 150);
    --aHoverTextColor: rgb(209, 213, 219);
    --asideBG: #3d3d3d;
    --h2Color: rgb(156, 163, 175);
    --navBG: #181818;
    --navascargb: rgb(21, 122, 119);
    --sideTitlebg: #272726;
  }
  .dark {
    --background: #ffffff; /* Dark background */
    --foreground: #1a313d; /* Dark text color */
    --aTextColor: #1a313d;
    --aBGHover: rgb(180, 183, 188);
    --aHoverTextColor: rgb(0, 24, 59); 
    --asideBG: #f4ece7;
    --h2Color: rgb(0, 0, 0);
    --navBG: #f7f7f7;
    --login: #dcfefd;
    --sideTitlebg: #c8ad93;
  }
}

.sideTitle{
  background: var(--sideTitlebg);

}
aside h2 {
  color: var(--h2Color);
}
aside a {
  color: var(--aTextColor);
  transition: all 0.3s;
}
a:hover {
  background-color: var(--aBGHover);
  color: var(--aHoverTextColor);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Bai Jamjuree", sans-serif;
}
div{
  color: var(--foreground);
  background: var(--background);
}
.aside{
  background: var(--asideBG);
  color: var(--foreground);
}
.navcolor{
  background: var(--navBG);
  color: var(--foreground);
}
/* Hide scrollbar but keep scroll functional */
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
